body {
    font-family: 'Roboto Mono', monospace;
font-family: 'Open Sans Condensed', sans-serif;
}

.header {
    
}
h1 {
    color: white;
    position: absolute; 
    top: 300px; 
    bottom: 0;  
    
}
img {
    position: relative;
    height: 20%;
    width: 100%;
    z-index: -1; 
     
    
}
.tagline {
    
}

.skills {
    
}

.contact {
    
}