.header {
    
}
h1 {
    color: white;
    position: absolute; 
    top: 0; 
    bottom: 0; 
    right: 0; 
    
}
img {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: -1; 
     
    
}
.tagline {
    
}

.skills {
    
}

.contact {
    
}