body {
    font-family: 'Roboto Mono', monospace;
font-family: 'Open Sans Condensed', sans-serif;
}

.header {
    
}
h1 {
    color: white;
    position: absolute; 
    top: 200px; 
    bottom: 0;
    left: 500px;
    
}
/*.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}*/
.img-responsive {
    position: relative;
    height: 400px;
    width: 100%;
    z-index: -1;         
}
.tagline {
    
}

.skills {
    
}

.contact {
    
}